.contact-details-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #130f2a;
    border-radius: 0.65rem;
    margin-top: 1rem;
    border: 1.5px solid #6751b9;
    padding: 1.5rem;
    margin-bottom: 2rem;
}
.contact-details-card .icon{
    width: 4rem;
    height:  4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    /* background: #3d3072; */
    margin-bottom: 0.8rem;
    /* border: 2px solid white; */
}
.icon span{

    width: inherit;
    height: auto;
}
.contact-details-card p{
    font-size: 0.9rem;
    font-weight: 400;
}
@media (max-width:450px) {
    .contact-details-card p{
        font-size: 0.8rem;
        
    }
    .contact-details-card p{
        /* border: 2px solid white; */
    }
    
}

@media (max-width:300px) {
    .contact-details-card p{
        font-size: 0.3rem;
        
    }
    .contact-details-card p{
        /* border: 2px solid white; */
    }
    
}
@media (max-width:400px) {
    .contact-details-card p{
        font-size: 0.7rem;
        
    }
    .contact-details-card p{
        /* border: 2px solid white; */
    }
    
}

@media (max-width:320px) {
    .contact-details-card p{
        font-size: 0.5rem;
        
    }
    .contact-details-card p{
        /* border: 2px solid white; */
    }
    
}
